---
layout: default
title: 10th Bolivian Conference on Development Economics
image: testbackground2.jpg
---

{% include top-section-bcde.html %}

<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutBCDETitle }}</h3>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                <p>
                  We’re very excited you are visiting the 10th Bolivian Conference on Development Economics (BCDE10) website.
                  <br /> We are building the site. Please check back soon for the call for papers and more announcements.
                  <br /> Check the conference annoucement <a href="/noticias/bcde10/"> here</a>.
                </p>

                {% for about in site.aboutBCDE10 %}
                {% assign colWidth = 12 | divided_by: 3 %}
                <div class="col-md-{{ colWidth }} col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}">
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
