<!-- About Hackathon Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>About La Paz</h3>
            <div class="content-wrapper text-left">
            <div class="post-body">
            <h6>
            The City of La Paz was founded by Captain Alonso de Mendoza in 1548, as a center of Spanish power during the European Colonization in the Andes. Later in 1809, Pedro Domingo Murillo led a group of rebels who rose up obtaining the release of La Paz from the Spanish Empire.
            </h6>
            <h6>
              La Paz is the Bolivian Seat of Government although Sucre is the Capital of this country. La Paz extends between mountains, next to the City of El Alto and the High Andean Plateau (Altiplano), at over 3500m above sea level. This city is a beautiful place that is home to around 835,000 people. A big variety of handicrafts is available at little markets in the downtown area, very close to many museums and the Basilica of San Francisco. Next to this is the city center in which cultural heritage buildings from the 16th century are combined with new constructions, creating a very enjoyable scenery.</h6>
            </div>
            </div>
        </div>

        <!-- <div class="col-md-8 col-md-offset-2">
            <h3>About UPB</h3>
            <div class="content-wrapper text-left">
            <div class="post-body">
            <h6>
            Universidad Privada de Santa Cruz de la Sierra (UPSA) founded in march 1984 is a private yet non-profit foundation devoted to higher education in Santa Cruz – Bolivia. It has around 3200 undergraduate students in 20 careers and around 1500 students in several post graduated programs. Since its foundation by initiative of the Chamber of Trade, Industry, Services and Tourism of Santa Cruz – CAINCO, UPSA has always had a very close relationship with the entrepreneurial and industrial sector in Santa Cruz.
            </h6>
            <h6>
              Due to this relationship, it has established an action plan to carry on activities and strategies that will eventually report greater proximity to the business sector. A research program has recently been established supported by a money grant in order to encourage research within the most relevant economics sectors in Santa Cruz. University – Business Cooperation is a very relevant axis for UPSA, and it is constantly looking for new ways to encourage it.
            </h6>
            </div>
            </div>
        </div> -->

    </div>
</section>
<!-- End About Hackathon Section -->
