<!-- About Hackathon Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>About Santa Cruz</h3>
            <div class="content-wrapper text-left">
            <div class="post-body">
            <h6>
            The city of Santa Cruz and its metropolitan area are home to over 70% of the population of the department and it is one of the fastest-growing cities in the world. Located near to Piraí river, Santa Cruz has a tropical savanna climate, with an average annual temperature around 23 °C (73 °F). Although the weather is generally warm all year round, cold winds called "surazos" can blow in occasionally (particularly in the winter).
            </h6>
            <h6>The city is Bolivia's most populous, produces nearly 35% of Bolivia's gross domestic product, and receives over 40% of all foreign direct investment in the country. This has helped make Santa Cruz the most important business center in Bolivia and the preferred destination of migrants from all over the country. Despite its rapid growth the city preserves much of its traditions and culture. This is particularly reflected in its typical foods.</h6>
            </div>
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <h3>About UPSA</h3>
            <div class="content-wrapper text-left">
            <div class="post-body">
            <h6>
            Universidad Privada de Santa Cruz de la Sierra (UPSA) founded in march 1984 is a private yet non-profit foundation devoted to higher education in Santa Cruz – Bolivia. It has around 3200 undergraduate students in 20 careers and around 1500 students in several post graduated programs. Since its foundation by initiative of the Chamber of Trade, Industry, Services and Tourism of Santa Cruz – CAINCO, UPSA has always had a very close relationship with the entrepreneurial and industrial sector in Santa Cruz.
            </h6>
            <h6>
              Due to this relationship, it has established an action plan to carry on activities and strategies that will eventually report greater proximity to the business sector. A research program has recently been established supported by a money grant in order to encourage research within the most relevant economics sectors in Santa Cruz. University – Business Cooperation is a very relevant axis for UPSA, and it is constantly looking for new ways to encourage it.
            </h6>
            </div>
            </div>
        </div>

    </div>
</section>
<!-- End About Hackathon Section -->
