<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-12 col-lg-offset-1">
             <!-- <h3>Organizers</h3>
             <h5> We are thankful for the support of the following institutions </h5> -->
               {% for partner in site.data.organizers2020 %}
               <h3>{{ partner.group }}</h3>

               <ul class="list-inline">
                   {% for element in partner.elements %}
                   <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                       <a href="{{ element.link }}" target="_blank">
                           <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                       </a>
                   </li>
                   {% endfor %}
               </ul>
               {% endfor %}

               <h3> Conference Team</h3>
               <h6>
               <div class="col-lg-10 col-lg-offset-3" style="text-align:justify">
                    <b>Lykke E. Andersen</b>, Chair, SDSN Bolivia, UPB, ABCE, SEBOL, INESAD </br></br>
                    <b>Stefano Canelas</b>, SDSN Bolivia</br></br>
                    <b>Pablo Cuba Borda</b>, Federal Reserve Board, SEBOL</br></br>
                    <b>Sergio Daga</b>, UPSA, SEBOL</br></br>
                    <b>Diego Escobari</b>, University of Texas Rio Grande Valley, SEBOL, ABCE</br></br>
                    <b>Luiz Gonzáles</b>, CLAPES-UC, SEBOL</br></br>
                    <b>Alejandro Herrera</b>, IDB, SEBOL</br></br>
                    <b>Oscar Molina</b>, UPB, ABCE, SDSN Bolivia, INESAD, SEBOL</br></br>
                    <b>Paola Montero</b>, UPB</br></br>
                    <b>Joaquín Morales</b>, UPB, SEBOL</br></br>
                    <b>Andrés Morillas</b>, INESAD</br></br>
                    <b>Beatriz Muriel</b>, INESAD, ABCE, SEBOL</br></br>
                    <b>Mariana Pérez</b>, UPB</br></br>
                    <b>Fabiola Saavedra Caballero</b>, UCLouvain, SEBOL</br></br>
                    <b>Pablo Selaya</b>, University of Copenhagen, SEBOL, ABCE</br></br>
                    <b>Mauricio Tejada</b>, ILADES, SEBOL
               </div>
               </h6>
        </div>
    </div>
</section>
<!-- End Partners Section -->
