<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section" style="background-color: powderblue;">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>
            {{ site.tweetsFeedTitle }}
            </h3>
            <svg class="icon" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
            </svg>
            <h3> <a class="twitter-timeline" href="https://twitter.com/SEBOLBolivia" data-widget-id="976819261711749122"  height="600" data-chrome="noheader footer noborders noscrollbar"> </a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </h3>
            <!-- <div id="tweets" class="tweets"></div> -->
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
<!-- <a class="twitter-timeline" href="https://twitter.com/hashtag/BCDE9" data-widget-id="976819261711749122"  width="600" height="400">#BCDE9 Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->
